.container{
    height: 100vh;

    .white{
    background-color: #fff;
    margin: 10px;
    height: 100vh;
    border-radius: 10px;

    .friends{
        height: 150px;
        background-color: rgb(247, 247, 10);
        width: 280px;
        margin-left: 20px;
        border-radius: 10px;
        

    }
}
}

